{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load avatar_tags %} 
{% load django_tables2 %}

<!-- Titter timeline -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ timeline_title }}</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" onclick="getTwitterHomeTimeline();getTwitterMentionsTimeline();getTwitterUserTimeline();"><i class="fa fa-refresh"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul class="timeline">
        {% for s in timeline %}
        {% include 'zerxis/twitter_tweet.html' %}
        {% endfor %}
        </ul>
      </div> 
      <div class="box-footer text-center">
        <a href="javascript:void(0)" class="uppercase">More</a>
      </div>
    </div>
