{% extends "helpline/helpline_base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="col-md-12">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><img src="{% static 'helpline/images/logo.png' %}" height="150" /></a>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">
        <div class="alert alert-success">
          <h4><i class="icon fa fa-check"></i> {% trans "Email Sent" %}</h4>
          <p>{% trans "An email with password reset instructions has been sent." %}</p>
        </div>
      </p>
    </div>
  </div>
</div>
{% endblock %}
