      <footer class="section footer-2 context-dark" style="background-color: #1d133c;">
        <div class="container">

          <p class="rights">
          <span>&copy;&nbsp;</span>
          <span class="copyright-year"></span>
          <span>&nbsp;</span><span>Elloe AI</span>
          <span>.&nbsp;</span>
          | <span><a href="/privacy/">Privacy Policy</a></span>
          | <span><a href="/tos/">Terms Of Service</a></span>
          | <span><a href="https://status.callcenter.africa">Status</a></span>
          | <span><a href="{% url "index_report_cybersecurity_issue" %}">Cybersecurity Issues</a></span>
          </p>
        </div>
      </footer>
