      <!--header start-->
      {% load i18n %}
      {% load static %}
      <header class="header black-bg">
            <!--logo start-->
            <a href="#" class="logo"><img src="{% static 'img/logo_header.png' %}"></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                </ul>
            </div>
        </header>
      <!--header end-->

