{% extends "helpline/wallboard_base.html" %}
{% load i18n %}
{% load static %}
{% load i18n two_factor %}
{% load socialaccount %}

{% block additional-javascript %}
<script src="/static/helpline/js/asternic_cdr.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<section class="content-header">
	<h1>
		Stats
		<small>Call Detail Record Statistics</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="{% url 'stats_home' %}">Stats Home</a></li>
		<li class="active">Stats Outgoing</li>
	</ol>
</section>
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Outgoing Calls</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>

	<div class="box-body">
    {{ report_data }}

		<div id="page_body"><div id="asterniccontent">
				<a name="0"></a>
				<div id="asternicheader">
					<ul id="primary">
            <li><a href="{% url 'stats_home' %}">Home</a></li>
						<li><span>Outgoing</span></li>
            <li><a href="{% url 'stats_report' 'incoming' %}">Incoming</a></li>
            <li><a href="{% url 'stats_report' 'combined' %}">Combined</a></li>
            <li><a href="{% url 'stats_report' 'distribution' %}">Distribution</a></li>
					</ul>
				</div>

				<div id="asternicmain">
					<div id="asterniccontents">

						<table width="99%" cellpadding="3" cellspacing="3" border="0">
							<thead>
								<tr>
									<td valign="top" width="50%">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<caption>Report Information</caption>
											<tbody>
												<tr>
													<td>Start Date:</td>
													<td>{{request.session.year1}}-{{ request.session.month1 }}-{{ request.session.day1 }}</td>
												</tr>

												<tr>
													<td>End Date:</td>
													<td>{{request.session.year2}}-{{ request.session.month2 }}-{{ request.session.day2 }}</td>
												</tr>
												<tr>
													<td>Period:</td>
                          <td>{{ period.days }} day{{ period.days|pluralize }}</td>
												</tr>
											</tbody>
										</table>

									</td>
									<td valign="top" width="50%">

										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<caption>Outgoing Calls</caption>
											<tbody>
												<tr> 
													<td>Number of Calls:</td>
                          <td>{{ totalcall }} call{{ totalcall|pluralize }}</td>
												</tr>
												<tr>
													<td>Total Time:</td>
                          <td>{{ totaltime }}</td>
												</tr>
												<tr>
													<td>Avg. ring time:</td>
                          <td>- secs </td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</thead>
						</table>
						<br>
						<a name="1"></a>
						<table width="99%" cellpadding="3" cellspacing="3" border="0">
							<caption>
								<img src="images/asternic_go-up.png" border="0" class="icon" width="16" height="16">
								&nbsp;&nbsp;
								Outgoing Calls
              </caption>
							<thead>
								<tr>
									<th>User</th>
									<th>Total</th>
									<th>Completed</th>
									<th>Missed</th>
									<th>% Missed</th>
									<th>Duration</th>
									<th>% Duration </th>
									<th>Avg Duration</th>
									<th>Total Ring Time</th>
									<th>Avg Ring Time</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td style="text-align: left;"><a onclick="javascript:getRecords('SIP/5566','2022-09-01 00:00:00','2022-11-30 23:59:59','outgoing','/admin/config.php?type=tool&amp;display=asternic_cdr&amp;tab=outgoing');"><img src="images/asternic_loading.gif" id="loadingSIP/5566" border="0" style="visibility: hidden; float: left;">John Doe</a></td>
									<td>1789</td>
									<td>521</td>
									<td>1268</td>
									<td align="right">71 %</td>
									<td>05:28:38</td>
									<td>1.49 %</td>
									<td>00:00:38</td>
									<td>15:19:28</td>
									<td>00:00:30</td>
								</tr>
                {{ summary_data }}
                {% for row in report.report.report_data %}
                <tr>
                  <td>{{ row.chan1 }}</td>
                  <td>{{ row.billsec }}</td>
                  <td>{{ row.duration }}</td>
                  <td>{{ row.ringtime }}</td>
                  <td>{{ row.src }}</td>
                  <td>{{ row.dst }}</td>
                  <td>{{ row.calldate }}</td>
                  <td>{{ row.disposition }}</td>
                  <td>{{ row.accountcode }}</td>

                </tr>
                {% endfor %}
							</tbody>
						</table>
						<br><form method="post" action="/admin/config.php?type=tool&amp;display=asternic_cdr&amp;tab=outgoing">
							<input type="hidden" name="type" value="tool">
							<input type="hidden" name="display" value="asternic_cdr">
							<input type="hidden" name="tab" value="outgoing">
							<input type="hidden" name="extdisplay" value="">
							<input type="hidden" name="action" value="export">
							<input type="image" name="pdf" src="{% static "helpline/images/asternic_pdf.gif" %}" style="border:0;"><span class="help">?<span>Export to PDF</span></span>
							<input type="image" name="csv" src="{% static "helpline/images/asternic_excel.gif" %}" style="border:0;"><span class="help">?<span>Export to CSV/Excel</span></span>
						</form><table class="pepa" width="99%" cellpadding="3" cellspacing="3" border="0">
							<thead>
								<tr><td><hr></td></tr><tr><td align="center" bgcolor="#fffdf3" width="100%">
										<div id="chart1">
										</div>
											</td></tr>
							</thead>
						</table><br>
					</div> <!-- end asterniccontents -->
				</div>
				<hr>

			</div> <!-- end div asternic content -->
			<div style="clear:both;"></div>
		</div>

	</div>
</div>

<div style='clear:both;'></div>
{% endblock content %}
